/target
.idea
/tmp
.*.swp
docs/2022-javazone/_minted-speeding-up-jackson/
docs/2022-javazone/speeding-up-jackson.aux
docs/2022-javazone/speeding-up-jackson.log
docs/2022-javazone/speeding-up-jackson.nav
docs/2022-javazone/speeding-up-jackson.out
docs/2022-javazone/speeding-up-jackson.snm
docs/2022-javazone/speeding-up-jackson.toc
docs/2022-javazone/speeding-up-jackson.vrb
